<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="part_assembly_for_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00011817 -0.1067 0.10785"
        rpy="0 0 0" />
      <mass
        value="6.1675" />
      <inertia
        ixx="0.16028"
        ixy="2.1564E-05"
        ixz="1.3039E-05"
        iyy="0.066764"
        iyz="-0.0016682"
        izz="0.18301" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 0.50196 0.50196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="turret_Link">
    <inertial>
      <origin
        xyz="-1.3112E-09 -3.2279E-11 -0.065431"
        rpy="0 0 0" />
      <mass
        value="0.0015793" />
      <inertia
        ixx="2.4662E-06"
        ixy="-6.8917E-16"
        ixz="-4.1905E-14"
        iyy="1.5433E-05"
        iyz="1.5532E-15"
        izz="1.5252E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/turret_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.74902 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/turret_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="turret_Joint"
    type="revolute">
    <origin
      xyz="0 0 0.21647"
      rpy="3.1416 0 0" />
    <parent
      link="base_link" />
    <child
      link="turret_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="10"
      velocity="1.57" />
    <dynamics
      damping="0.5"
      friction="0.1" />
  </joint>
  <link
    name="shoulder_Link">
    <inertial>
      <origin
        xyz="0.000189993441483231 -0.145341068776439 8.20275947610583E-07"
        rpy="0 0 0" />
      <mass
        value="0.000275005713861268" />
      <inertia
        ixx="5.46880577961511E-06"
        ixy="1.04545946886239E-08"
        ixz="-1.1327313272109E-11"
        iyy="5.25699063606665E-07"
        iyz="1.44248202941957E-11"
        izz="5.38797735272456E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/shoulder_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/shoulder_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_Joint"
    type="revolute">
    <origin
      xyz="0 0 -0.068"
      rpy="-3.1416 0 0" />
    <parent
      link="turret_Link" />
    <child
      link="shoulder_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="0"
      effort="20"
      velocity="1.05" />
    <dynamics
      damping="0.5"
      friction="0.1" />
  </joint>
  <link
    name="elbow_Link">
    <inertial>
      <origin
        xyz="0.00108378073824748 -0.0544704067861682 -0.0711465326264925"
        rpy="0 0 0" />
      <mass
        value="0.000311735552810812" />
      <inertia
        ixx="3.42146740327176E-06"
        ixy="-1.41401250526636E-09"
        ixz="-1.80890298797538E-09"
        iyy="9.84123917897388E-07"
        iyz="-3.45597195007664E-07"
        izz="3.09442840414046E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/elbow_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/elbow_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_Joint"
    type="revolute">
    <origin
      xyz="0 -0.3452 0"
      rpy="-3.0892 0 0" />
    <parent
      link="shoulder_Link" />
    <child
      link="elbow_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="15"
      velocity="1.57" />
    <dynamics
      damping="0.5"
      friction="0.1" />
  </joint>
  <link
    name="telescope_Link">
    <inertial>
      <origin
        xyz="0.00918638003199307 -0.287985018560746 -1.36948985833274E-05"
        rpy="0 0 0" />
      <mass
        value="0.000504060555121796" />
      <inertia
        ixx="5.29585037817647E-06"
        ixy="1.83230520582703E-07"
        ixz="-2.85665450904861E-10"
        iyy="6.25278240137453E-07"
        iyz="-3.0595904395194E-10"
        izz="5.38586785517834E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/telescope_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 1 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/telescope_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="telescope_Joint"
    type="prismatic">
    <origin
      xyz="0 0 -0.0915"
      rpy="0 0 0" />
    <parent
      link="elbow_Link" />
    <child
      link="telescope_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.33982"
      upper="0"
      effort="50"
      velocity="0.1" />
    <dynamics
      damping="0.5"
      friction="0.1" />
  </joint>
  <link
    name="wrist_pan_Link">
    <inertial>
      <origin
        xyz="0.0535566521627149 0.0021500867814456 2.96463081467246E-06"
        rpy="0 0 0" />
      <mass
        value="0.000115414012460828" />
      <inertia
        ixx="1.20474709847135E-07"
        ixy="-1.22273225799696E-08"
        ixz="-2.50364785934112E-11"
        iyy="5.51162538124596E-07"
        iyz="-1.23627270080061E-11"
        izz="5.72046696652325E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/wrist_pan_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/wrist_pan_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_pan_Joint"
    type="revolute">
    <origin
      xyz="0 -0.33238 0"
      rpy="-0.05236 0 0" />
    <parent
      link="telescope_Link" />
    <child
      link="wrist_pan_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="5"
      velocity="2.09" />
    <dynamics
      damping="0.5"
      friction="0.1" />
  </joint>
  <link
    name="wrist_roll_Link">
    <inertial>
      <origin
        xyz="-8.96623698246057E-07 -0.0792021778247627 4.22929576529563E-05"
        rpy="0 0 0" />
      <mass
        value="0.000111522796204095" />
      <inertia
        ixx="2.53254834208657E-07"
        ixy="7.2851442710871E-12"
        ixz="-3.40921919474502E-12"
        iyy="1.10624065502073E-07"
        iyz="-7.92451760619561E-11"
        izz="2.99119933807957E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/wrist_roll_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.984313725490196 0.733333333333333 0.513725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/wrist_roll_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_roll_Joint"
    type="continuous">
    <origin
      xyz="0.10485 -0.037 0"
      rpy="-3.1416 0 3.1416" />
    <parent
      link="wrist_pan_Link" />
    <child
      link="wrist_roll_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="3"
      velocity="3.14" />
    <dynamics
      damping="0.5"
      friction="0.1" />
  </joint>
  <link
    name="gripper_Link">
    <inertial>
      <origin
        xyz="-1.63339342051927E-11 -4.64352445384009E-11 0.0436315349703006"
        rpy="0 0 0" />
      <mass
        value="0.108551291174862" />
      <inertia
        ixx="0.00021750584056198"
        ixy="-1.66343932468778E-06"
        ixz="1.54843841198365E-18"
        iyy="0.000282694755289285"
        iyz="1.4915155529304E-18"
        izz="8.31048800461349E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/gripper_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/gripper_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_Joint"
    type="fixed">
    <origin
      xyz="0 -0.24015 0"
      rpy="-1.5708 -0.025495 0" />
    <parent
      link="wrist_roll_Link" />
    <child
      link="gripper_Link" />
    <axis
      xyz="0 0 0" />
    <limit
      effort="5"
      velocity="0.05" />
  </joint>
  <link
    name="front_flipper_Link">
    <inertial>
      <origin
        xyz="-0.00100002194717367 -0.149217322406353 -0.0662702802394308"
        rpy="0 0 0" />
      <mass
        value="0.654827358568309" />
      <inertia
        ixx="0.00743013588641711"
        ixy="-1.68971010856713E-10"
        ixz="1.64238576331658E-10"
        iyy="0.00211252068956256"
        iyz="-0.00184963128007941"
        izz="0.00545576844767058" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/front_flipper_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/front_flipper_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_flipper_Joint"
    type="revolute">
    <origin
      xyz="0 0.11592 0.085966"
      rpy="2.5747 0 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="front_flipper_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-6.28"
      upper="0"
      effort="50"
      velocity="0.1" />
    <dynamics
      damping="0.5"
      friction="0.1" />
  </joint>
  <link
    name="rear_flipper_Link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/rear_flipper_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://part_assembly_for_urdf/meshes/rear_flipper_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_flipper_Joint"
    type="revolute">
    <origin
      xyz="0 -0.344081156926502 0.0859661451680933"
      rpy="-0.888988419389572 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="rear_flipper_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="6.28"
      effort="50"
      velocity="0.1" />
    <dynamics
      damping="0.5"
      friction="0.1" />
  </joint>
</robot>